<template>
  <p variant="warning" v-if="getNoticeMessage" class="notice">
    {{ getNoticeMessage }}
  </p>

  <LoginFeature @onLogin="login" :enabled="!isLoginInProgress" />
</template>

<script setup lang="ts">
import { ref, computed } from 'vue'
import LoginFeature from '@/components/Login/LoginFeature.vue'
import useLoader from '@/composables/loader.js'
import useAuthStore from '@/stores/auth.js'

const authStore = useAuthStore()

const { showLoader, hideLoader } = useLoader()

defineProps({
  // props
})


const getNoticeMessage = computed(()=>{
  return "Notice"
})

const isLoginInProgress = ref(false)

function onLoginFinally() {
  hideLoader()
  setTimeout(() => {
    isLoginInProgress.value = false
  }, 1000)
}

async function login(form: any) {
  if (isLoginInProgress.value) {
    return
  }
  isLoginInProgress.value = true
  showLoader()
  try {
    let response = await authStore.login({
      ...form
    })

    onLoginFinally()

    if (response.shouldRouteToClientSelection) {
      /*this.$router.push({
            name: 'login_as',
          })*/
      console.log('Route to login-as')
      window.alert('Login sucess (Login-as)')
    } else {
      //this.$routerPlugin.routeToDefaultRoute()
      console.log('Route to default route')
      window.alert('Login sucess (Default route)')
    }
  } catch (err: any) {
    onLoginFinally()
    if (err.message.includes('401')) {
      console.warn(err)
      //await this.$store.dispatch('auth/logout')
      console.log('logout (implement)')

      /*this.$store.dispatch('alert/addAlert', {
            type: 'warning',
            title: 'login.login_fail_title',
            text: 'alerts.BAD_CREDENTIALS',
          })*/
      console.log('bad credentials (alert) (implement)')
    } else {
      throw err
    }
  }
}
</script>

<style scoped>
.notice {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000000;
}
</style>
