<script setup lang="ts">
import { ref, onMounted} from 'vue'
import LoginForm from '@/components/Login/LoginForm.vue'
import appSrv from '@/srv/app.js'
import useSettingsStore from '@/stores/settings.js'
import i18n, {useLocale} from '@/srv/i18n.js'
import useAuthStore from '@/stores/auth.js'
const {t} = useLocale()

const authStore = useAuthStore()
const settingsStore = useSettingsStore()

window._lf = {
  authStore,
  settingsStore
}

defineProps({
  enabled: {
    type: Boolean,
    default: true
  }
})

const emit = defineEmits(['onLogin'])

const appVersion = appSrv.getAppVersion()

onMounted(() => {
  settingsStore.setParameter({
    name: 'applicationLanguage',
    value: i18n.locale
  }) 
})

function switchToLanguage(lang) {
  i18n.locale = lang
  
  settingsStore.setParameter({
    name: 'applicationLanguage', 
    value: lang
  })
}
</script>

<template>
  <div class="login_module_component" v-if="!authStore.state.user_logged">

    <div class="login_module__top">
      <div class="form_wrapper">

        <img src="@/assets/brand-logo.svg" class="mb-4">

        <LoginForm 
          @login="formData => emit('onLogin', formData)"
          :enabled="enabled" 
        />

      </div>
    </div>

    <div class="login_module__bottom">

      <a 
        href="https://espaceclientsimpliciti.microsoftcrmportals.com/" 
        target="_blank"
        class="login_module__bottom_support_link contact"
        rel="noopener noreferrer"
      >
        {{ t('auth.contacter_assistance') }}
      </a>

      <div class="app_version">
        {{ appVersion }}
      </div>

      <div>
        <img 
          src="@/assets/flag-fr.png"
          class="flag_icon"
          @click="switchToLanguage('fr')" 
        >
        <img
          src="@/assets/flag-en.png" 
          class="flag_icon"
          @click="switchToLanguage('en')"
        >
        <img
          src="@/assets/flag-nl.png"
          class="flag_icon" 
          @click="switchToLanguage('nl')"
        >
        <img 
          src="@/assets/flag-es.png"
          class="flag_icon"
          @click="switchToLanguage('es')" 
        >
      </div>

    </div>

  </div>
</template>

<style scoped>
/* component styles */
</style>