<script setup lang="ts">
import { ref } from 'vue'
const emit = defineEmits(['login'])
defineProps({
  enabled: {
    type: Boolean,
    default: true
  }
})

const form = ref({
  name: '',
  client: '',
  password: '' 
})

const errors = ref({})

function validate() {
  errors.value = {}

  if (!form.value.name) {
    errors.value.name = 'Name required'
  }

  if (!form.value.client) { 
    errors.value.client = 'Client required'
  }

  if (!form.value.password) {
    errors.value.password = 'Password required'
  }

  if (form.value.password.length < 5) {
    errors.value.password = 'Password too short'
  }

  return Object.keys(errors.value).length === 0
}

function onSubmit() {
  if (!validate()) {
    return
  }

  console.log('login-form submit',{
    ...form.value
  })

  emit('login', form.value)
}

</script>

<template>

    <form class="form" @submit.prevent="onSubmit">
  
      <div class="field">
        <input
          v-model="form.name"
          type="text"
          placeholder="Username 2"
          class="input"
        >
        <div v-if="errors.name" class="error">{{ errors.name }}</div>
      </div>
  
      <div class="field">
         <input
           v-model="form.client"
           type="text"  
           placeholder="Client"
           class="input"
         >
         <div v-if="errors.client" class="error">{{ errors.client }}</div>
      </div>
  
      <div class="field">
        <input
          v-model="form.password"
          type="password"
          placeholder="Password"
          class="input"
        >
        <div v-if="errors.password" class="error">{{ errors.password }}</div>  
      </div>
  
      <button
        :disabled="!enabled"
        type="submit"
        class="submit-btn"  
      >
        Login
      </button>
  
      <div v-if="Object.keys(errors).length" class="form-error">
        Please fix the errors
      </div>
  
    </form>
  
  </template>
  
  
  <style scoped>
  
  .form {
    /* form styles */
  }
  
  .field {
    /* field styles */ 
  }
  
  .input {
    /* input styles */
  }
  
  .error {
    /* error styles */
  }
  
  .submit-btn {
    /* button styles */  
  }
  
  .form-error {
    /* general error styles */
  }
  
  </style>